// $success: #f00;
// $turquoise: #F2980C;
$turquoise: #bbe2eb;

// $black: #111416;
// $black-bis: #343e44;
// $black-ter: #586771;
// $grey-darker: #7b909e;
// $grey-dark: #9ebacc;
// $grey: #b0cfe3;
// $grey-light: #b7d3e5;
// $grey-lighter: #bfd8e8;
// $grey-lightest: #cfe2ee;
// $white-ter: #d7e7f1;
// $white-bis: #e7f0f6;
// $white: #f7fafc;

// 0.57 0.48 0.79

// $black: hsl(204, 48%, 4%);
// $black-bis: hsl(204, 48%, 7%);
// $black-ter: hsl(204, 48%, 14%);
// $grey-darker: hsl(204, 48%, 21%);
// $grey-dark: hsl(204, 48%, 29%);
// $grey: hsl(204, 48%, 48%);
// $grey-light: hsl(204, 48%, 71%);
// $grey-lighter: hsl(204, 48%, 86%);
// $grey-lightest: hsl(204, 48%, 93%);
// $white-ter: hsl(204, 48%, 96%);
// $white-bis: hsl(204, 48%, 98%);
// $white: hsl(204, 48%, 100%);

$black: hsl(191, 55%, 4%);
$black-bis: hsl(191, 55%, 7%);
$black-ter: hsl(191, 55%, 14%);
$grey-darker: hsl(191, 55%, 21%);
$grey-dark: hsl(191, 55%, 29%);
$grey: hsl(191, 55%, 48%);
$grey-light: hsl(191, 55%, 71%);
$grey-lighter: hsl(191, 55%, 86%);
$grey-lightest: hsl(191, 55%, 93%);
$white-ter: hsl(191, 55%, 96%);
$white-bis: hsl(191, 55%, 98%);
$white: hsl(191, 55%, 100%);